.container
{
    background-color: black;
    margin : 100px 0px 0px 0px;
}
.bground
{
    background-color: black;
    border : 5px solid red;
     height:350px;
}

.pacman
{
    width: 100px;
    height: 50px;
    background: yellow;
}
.top {
   transform-origin: bottom center;
    border-radius: 50px 50px 0px 0px;
    animation: up 0.75s ease-in-out infinite
}

.bottom
{
   transform-origin: top center;
    border-radius: 0px 0px 50px 50px;
    animation: down 0.75s ease-in-out infinite
}

.feed {
width: 20px;
height: 20px;
border-radius: 30%;
animation: eat 0.75s linear 0s infinite;
}   


@keyframes up
{
  0% {
    transform:rotateZ(00deg);
  }
    50% {
    transform:rotateZ(-30deg);
  }
  100%{
    transform:rotateZ(0deg)
  }
}

@keyframes down
{
   0% {
    transform:rotateZ(00deg);
  }
    50% {
    transform:rotateZ(30deg);
  }
  100%{
    transform:rotateZ(0deg)
  }
}


@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 blue, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}





